<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<FlowCallout async="false" continueOnError="false" enabled="true" name="FC-BackendConfiguration">
    <DisplayName>FC-BackendConfiguration</DisplayName>
    <FaultRules/>
    <Parameters>
        <Parameter name="backendconfiguration.targetname">${targetServer}</Parameter> 
    </Parameters>
    <Properties/>
#if($tsAuthType == "basic")
    <SharedFlowBundle>sf-backendconfiguration-basic-v1</SharedFlowBundle>
#elseif($tsAuthType == "apikey")
    <SharedFlowBundle>sf-backendconfiguration-apikey-v1</SharedFlowBundle>
#elseif($tsAuthType == "salesforce")
    <SharedFlowBundle>sf-backendconfiguration-salesforce-v1</SharedFlowBundle>
#end
</FlowCallout>