<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 
<RaiseFault async="false" continueOnError="false" enabled="true" name="RF-UnsupportedMediaType"> 
    <DisplayName>RF-UnsupportedMediaType</DisplayName> 
    <Properties/> 
    <FaultResponse> 
        <Set> 
            <StatusCode>415</StatusCode> 
            <ReasonPhrase>Unsupported Media Type</ReasonPhrase> 
        </Set> 
    </FaultResponse> 
    <IgnoreUnresolvedVariables>true</IgnoreUnresolvedVariables> 
</RaiseFault> 
