#set($H = '#')
#set($D = '$')
$H Author: ${emailDev}
$H Date: ${date.toString()}
@apiproxy
Feature: API proxy endpoints - ${artifactId} PUT

    @services @PUT
    Scenario: 0. Prep variables
        Given I set variable bodyValid in global scope to {"data":{}}
          And I set variable bodyInvalid in global scope to {"data":{}}

#if(${authtype} == "oauth2")
    @200
    Scenario: 0. Obter Token - json response
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                              |
              |`authHeaderName`|`authHeaderValue`                   |
              | Content-Type   | application/x-www-form-urlencoded  |
          And I set body to grant_type=client_credentials
         When I POST to /oauth2/v1/token
         Then response code should be 200
          And response body should be valid json
          And I store the value of body path ${D}.access_token as x_client_auth_access_token in global scope
#end
    @200
    Scenario: 1. 200 Test / PUT endpoint - json response
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I PUT ${basePath}
         Then response code should be 200
          And response body should be valid json
          And response body path ${D}.data.resultCode should be 0
          And response header content-type should not be null

    @400
    Scenario: 2. 400 Test / PUT endpoint - validation payload error
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | x-mock         | 400                                 |
              | Content-Type   | application/json                    |
          And I set body to `bodyInvalid`
         When I PUT ${basePath}
         Then response code should be 400
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 400
          And response header X-TransactionId should be (.+)

    @401
    Scenario: 3. 401 Test / PUT endpoint - Bad client authentication header
        Given I set headers to
              | name             | value            |
              | Content-Type     | application/json |
          And I set body to `bodyValid`
         When I PUT ${basePath}
         Then response code should be 401
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 401
          And response body path ${D}.error.errorCode should be API-(.*)-401
          And response header X-TransactionId should be (.+)

#if(${authtype} == "oauth2")
    @403
    Scenario: 4.0 403 Test / POST endpoint - App with no permissions
        Given I use variables from app ${artifactId}-app-np
          And I set headers to
              | name           | value                              |
              |`authHeaderName`|`authHeaderValue`                   |
              | Content-Type   | application/x-www-form-urlencoded  |
          And I set body to grant_type=client_credentials
         When I POST to /oauth2/v1/token
         Then response code should be 200
          And response body should be valid json
          And I store the value of body path ${D}.access_token as x_client_auth_access_token_np in global scope
#end

    @403
    Scenario: 4.1 403 Test / PUT endpoint - App with no permissions
        Given I use variables from app ${artifactId}-app-np
          And I set headers to
              | name           | value                                  |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token_np` |
#else
              |`authHeaderName`|`authHeaderValue`                       |
#end
              | Content-Type   | application/json                       |
          And I set body to `bodyValid`
         When I PUT ${basePath}xx
         Then response code should be 403
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 403
          ${H}And response body path ${D}.error.errorCode should be API-(.*)-403
          ${H}And response body path ${D}.error.message should be (.*)
          ${H}And response header X-TransactionId should be (.+)

    @404
    Scenario: 5. 404 Test / PUT - NOT FOUND
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I PUT ${basePath}/teste
         Then response code should be 404

    @405
    Scenario: 6. 405 Test / DELETE endpoint - wrong method
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I DELETE ${basePath}
         Then response code should be 405
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 405
          And response body path ${D}.error.errorCode should be API-(.*)-405
          And response body path ${D}.error.message should be (.*)
          And response header X-TransactionId should be (.+)
          And response header accept should not exist

    @405
    Scenario: 6. 405 Test / POST endpoint - wrong method
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I POST to ${basePath}
         Then response code should be 405
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 405
          And response body path ${D}.error.errorCode should be API-(.*)-405
          And response body path ${D}.error.message should be (.*)
          And response header X-TransactionId should be (.+)
          And response header accept should not exist

    @405
    Scenario: 7. 405 Test / PATCH endpoint - wrong method
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I PATCH ${basePath}
         Then response code should be 405
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 405
          And response body path ${D}.error.errorCode should be API-(.*)-405
          And response body path ${D}.error.message should be (.*)
          And response header X-TransactionId should be (.+)
          And response header accept should not exist

    @413
    Scenario: 8. 413 Test / GET endpoint - Request Entity Too Large
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I GET ${basePath}
         Then response code should be 413
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 413
          And response body path ${D}.error.errorCode should be API-(.*)-413
          And response body path ${D}.error.message should be (.*)
          And response header X-TransactionId should be (.+)
          And response header accept should not exist

    @500
    Scenario: 9. 500 Test / PUT endpoint - Backend internal error
        Given I use variables from app ${artifactId}-app
          And I set headers to
              | name           | value                               |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token` |
#else
              |`authHeaderName`|`authHeaderValue`                    |
#end
              | x-mock         | 500                                 |
              | Content-Type   | application/json                    |
          And I set body to `bodyValid`
         When I PUT ${basePath}
         Then response code should be 500
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 500
          And response body path ${D}.error.errorCode should be API-(.*)-500
          And response body path ${D}.error.message should be (.*)
          And response header X-TransactionId should be (.+)
          And response header accept should not exist

#if(${authtype} == "oauth2")
    @429
    Scenario: 10.0 429 Test / POST endpoint - quota check
        Given I use variables from app ${artifactId}-app-nq
          And I set headers to
              | name           | value                              |
              |`authHeaderName`|`authHeaderValue`                   |
              | Content-Type   | application/x-www-form-urlencoded  |
          And I set body to grant_type=client_credentials
         When I POST to /oauth2/v1/token
         Then response code should be 200
          And response body should be valid json
          And I store the value of body path ${D}.access_token as x_client_auth_access_token_nq in global scope
#end

    @429
    Scenario: 10.1 429 Test / PUT endpoint - quota check
        Given I use variables from app ${artifactId}-app-nq
          And I set headers to
              | name           | value                                  |
#if(${authtype} == "oauth2")
              | x-client-auth  | Bearer `x_client_auth_access_token_nq` |
#else
              |`authHeaderName`|`authHeaderValue`                       |
#end
              | Content-Type   | application/json                       |
          And I set body to `bodyValid`
         When I PUT ${basePath}
          And I PUT ${basePath}
          And I PUT ${basePath}
          And I PUT ${basePath}
          And I PUT ${basePath}
          And I PUT ${basePath}
          And I PUT ${basePath}
         Then response code should be 429
          And response body should be valid json
          And response body path ${D}.error.httpCode should be 429
          And response body path ${D}.error.errorCode should be API-(.*)-429
          And response header X-TransactionId should be (.+)
