{
    "parameters": {
        "domain": "lab.apigw.claro.com.br",
        "protocol": "https",
        "port": "443",
        "basepath": "/",
        "apps": {
            "${artifactId}-app": {
                "name": "${artifactId}-app",
#if($authtype == "apikey")
                "authHeaderName": "x-client-key",
                "authHeaderValue": "c2VjcmV0"
#elseif($authtype == "basic")
                "authHeaderName": "x-client-auth",
                "authHeaderValue": "Basic dGVzdGU6dGVzdGU="
#end
            },
            "${artifactId}-app-nq": {
                "name": "${artifactId}-app-nq",
#if($authtype == "apikey")
                "authHeaderName": "x-client-key",
                "authHeaderValue": "c2VjcmV0"
#elseif($authtype == "basic")
                "authHeaderName": "x-client-auth",
                "authHeaderValue": "Basic dGVzdGU6dGVzdGU="
#end
            },
            "${artifactId}-app-np": {
                "name": "${artifactId}-app-np",
#if($authtype == "apikey")
                "authHeaderName": "x-client-key",
                "authHeaderValue": "c2VjcmV0"
#elseif($authtype == "basic")
                "authHeaderName": "x-client-auth",
                "authHeaderValue": "Basic dGVzdGU6dGVzdGU="
#end
            }
        },
        "unitTesting": "true"
    }
}