<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<TargetEndpoint name="default">
    <Description/>
    <FaultRules/>
    <PreFlow name="PreFlow">
        <Request>
            <Step>
                <Name>FC-BackendConfiguration</Name>
            </Step>
        </Request>
        <Response/>
    </PreFlow>
    <PostFlow name="PostFlow">
        <Request/>
        <Response/>
    </PostFlow>
    <Flows/>
    <HTTPTargetConnection>
        <LoadBalancer>
            <Server name="TS-${targetServer}"/>
        </LoadBalancer>
        <Path>${targeturl}</Path>
        <Properties>
            <Property name="success.codes">${successCodes}</Property>
            <Property name="supports.http11">true</Property>
            <Property name="use.proxy">false</Property>
        </Properties>
    </HTTPTargetConnection>
</TargetEndpoint>